<% if @data_list.type == 'Datum::DataImport' %>
  <%= button_to({ action: 'new_import' }, class: 'button is-rounded is-primary') do %>
    <%= svg_tag 'plus' %>
    <span><%= t('.new_import.title') %></span>
  <% end %>
<% else %>
  <%= button_to({ action: 'new'}, class: 'button is-rounded is-primary') do %>
    <%= svg_tag 'plus' %>
    <span><%= t('.new.title') %></span>
  <% end %>
<% end %>
